            <div class="main-wrapper">
                    <div class="article-1">
                        <figure>
                            <h1>THE VALUE OF MONEY</h1>
                            <div class="fig-image">
                                <img src="img/articles/article-1.jpg">
                                <figcaption>
                                    <p><i>The power of the money</i></p>
                                </figcaption>
                            </div>
                            <div id="fig-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur sapien eu ante vehicula rhoncus. Nunc finibus lacinia lobortis. Nunc ultricies porta aliquam. Sed porta eu lorem in sodales. In facilisis massa vel leo malesuada euismod. Maecenas accumsan purus tortor, id accumsan magna tincidunt in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque consequat urna eget sapien porta vulputate. Suspendisse blandit lectus scelerisque, placerat nisl id, tincidunt velit.</p>
                                <p>Nulla id vehicula nibh, dictum congue lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed non ipsum eu magna placerat tincidunt nec vitae purus. Morbi gravida enim elit, ut consectetur felis laoreet ut. Ut eleifend, est ac consectetur rutrum, diam leo fermentum risus, a placerat ligula eros et erat. Sed semper sapien neque, nec feugiat nunc suscipit quis. Ut vitae ipsum et velit ultrices imperdiet. Praesent non est quis libero malesuada semper vel eget erat. Praesent viverra, magna eu bibendum pharetra, sem nunc malesuada justo, ac blandit justo nulla non libero. In varius lacus aliquet odio consequat, nec vestibulum sem venenatis. Proin ultrices mauris diam, in consequat libero dictum vitae. Vestibulum auctor malesuada pharetra. Curabitur viverra erat felis, a fermentum diam varius id.</p>
                            </div>
                        </figure>
                    </div>
                     <div class="article-2">
                        <figure>
                             <hr>
                            <h1>THE GMO FOOD</h1>
                            <div class="fig-image">
                                <img src="img/articles/article-2.jpg">
                                <figcaption>
                                    <p><i>The GMO Food</i></p>
                                </figcaption>
                            </div>
                            <div id="fig-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur sapien eu ante vehicula rhoncus. Nunc finibus lacinia lobortis. Nunc ultricies porta aliquam. Sed porta eu lorem in sodales. In facilisis massa vel leo malesuada euismod. Maecenas accumsan purus tortor, id accumsan magna tincidunt in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque consequat urna eget sapien porta vulputate. Suspendisse blandit lectus scelerisque, placerat nisl id, tincidunt velit.</p>
                                <p>Nulla id vehicula nibh, dictum congue lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed non ipsum eu magna placerat tincidunt nec vitae purus. Morbi gravida enim elit, ut consectetur felis laoreet ut. Ut eleifend, est ac consectetur rutrum, diam leo fermentum risus, a placerat ligula eros et erat. Sed semper sapien neque, nec feugiat nunc suscipit quis. Ut vitae ipsum et velit ultrices imperdiet. Praesent non est quis libero malesuada semper vel eget erat. Praesent viverra, magna eu bibendum pharetra, sem nunc malesuada justo, ac blandit justo nulla non libero. In varius lacus aliquet odio consequat, nec vestibulum sem venenatis. Proin ultrices mauris diam, in consequat libero dictum vitae. Vestibulum auctor malesuada pharetra. Curabitur viverra erat felis, a fermentum diam varius id.</p>
                            </div>
                        </figure>
                    </div>
                     <div class="article-3">
                        <figure>
                            <hr>
                            <h1>THE VIEW OF WORLD IN 2100</h1>
                            <div class="fig-image">
                                <img src="img/articles/article-3.jpg">
                                <figcaption>
                                    <p><i>The View of World in 2100</i></p>
                                </figcaption>
                            </div>
                            <div id="fig-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur sapien eu ante vehicula rhoncus. Nunc finibus lacinia lobortis. Nunc ultricies porta aliquam. Sed porta eu lorem in sodales. In facilisis massa vel leo malesuada euismod. Maecenas accumsan purus tortor, id accumsan magna tincidunt in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque consequat urna eget sapien porta vulputate. Suspendisse blandit lectus scelerisque, placerat nisl id, tincidunt velit.</p>
                                <p>Nulla id vehicula nibh, dictum congue lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed non ipsum eu magna placerat tincidunt nec vitae purus. Morbi gravida enim elit, ut consectetur felis laoreet ut. Ut eleifend, est ac consectetur rutrum, diam leo fermentum risus, a placerat ligula eros et erat. Sed semper sapien neque, nec feugiat nunc suscipit quis. Ut vitae ipsum et velit ultrices imperdiet. Praesent non est quis libero malesuada semper vel eget erat. Praesent viverra, magna eu bibendum pharetra, sem nunc malesuada justo, ac blandit justo nulla non libero. In varius lacus aliquet odio consequat, nec vestibulum sem venenatis. Proin ultrices mauris diam, in consequat libero dictum vitae. Vestibulum auctor malesuada pharetra. Curabitur viverra erat felis, a fermentum diam varius id.</p>
                            </div>
                        </figure>
                    </div>