<figure class="portfolio-wrapper">
	<h1>Portfolio</h1>
	<div class="portfolio-content">
		<div class="portfolio-1">
			<img src="img/portfolios/project-1.jpg">
			<p>Project 1</p>
		</div>
		<div class="portfolio-2">
			<img src="img/portfolios/project-2.jpg">
			<p>Project 2</p>
		</div>
		<div class="portfolio-3">
			<img src="img/portfolios/project-3.jpg">
			<p>Project 3</p>
		</div>
		<div class="portfolio-4">
			<img src="img/portfolios/project-4.jpg">
			<p>Project 4</p>
		</div>
		<div class="portfolio-5">
			<img src="img/portfolios/project-5.jpg">
			<p>Project 5</p>
		</div>
		<div class="portfolio-6">
			<img src="img/portfolios/project-6.jpg">
			<p>Project 6</p>
		</div>
	</div>             
</figure>